* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

body > * {
    /* border: solid 3px green; */
}

header {
    text-align: center;
    font-size: 48px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

#content { 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    
}

#content > * {
    /* border: solid 1px red; */
}
footer {
    background-color: grey;
    text-align: center;
    justify-self: flex-end;
    padding: 4px;
}

.gamplay-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 10%;
    /* border: red solid 1px; */
}

.user-selection {
    display: flex;
    justify-content: center;
    min-width: 100%;
    gap: 10%; 
}

.user-selection > button {
    padding: 3%;
    font-weight: bold;
    /* width: 5%; */
    /* text-align: center; */
}

.gamplay-section > * {
    /* border: solid 1px green; */
} 

.results-section {
    /* border: solid 1px green; */
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}

.results-section > * {
    /* border: solid 1px green; */
    width: 20%;
} 

.score-board-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    /* border: solid 1px red; */
    padding: 3%;
    padding-top: 0;
}

.score-board-column {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 36px;
    /* border: solid 1px green; */
}

.score-board-container > * {
    flex: 1;
    
}

.score-board-container > .score-board-column:first-child {
    border-right: solid 2px black;
    /* border: solid 1px green; */
}

.column-label {
    font-size: 36px;
    border-bottom: solid black 2px;
}

#player-score, #pc-score, #ties-value {
    font-size: 20px;
}

.ties-container {
    display: flex;
    /* flex-flow: column; */
}

.ties-container > * {
    /* border: solid 1px red; */
}


.link {
    text-decoration: none;
    color: white;    
    
}