* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

html {
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

header {
    text-align: center;
    font-size: 48px;
    background-color: darkblue;
    color: white;
    padding: 4px;

}

#content { 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    
}

footer {
    background-color: grey;
    text-align: center;
    padding: 4px;
}

.gamplay-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    gap: 10%;
    text-align: center;
}

.user-selection {
    display: flex;
    justify-content: center;
    gap: 10%; 
}

.user-selection > button {
    padding: 4%;
    height: auto;
    text-align: center;
    width: 200px;
}

.results-section {
    display: flex;
    flex: 1;
}

.results-section > * {
    flex: 1;
} 

.score-board-container, .ties-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    padding: 4%;
    padding-top: 0;
}

.score-board-column {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    text-align: center;
    font-size: 36px;
    flex: 1;
}

.column-label {
    border-bottom: solid black 2px;
    align-self: stretch;
}

.score-board-container > .score-board-column:first-child {
    border-right: solid 2px black;
}

.score-area {
    text-align: start;
    display: flex;
    flex-flow: column;
    padding: 30px 50px;
}

.score-value {
    font-size: 28px;

}

.link {
    text-decoration: none;
    color: white;    
    
}