* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    /* min-height: 100%;  */
    flex: 1;
}

body > * {
    /* border: solid 3px green; */
}

header {
    text-align: center;
}

footer {
    background-color: grey;
    text-align: center;
    justify-self: flex-end;
    padding: 4px;
}

.gamplay-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 10%;
    /* border: red solid 1px; */
}

.user-selection {
    display: flex;
    justify-content: center;
    min-width: 100%;
    gap: 10%; 
}

.user-selection > button {
    padding: 3%;
    font-weight: bold;
}

.gamplay-section > * {
    /* border: solid 1px green; */
} 

.results-section {
    /* border: solid 1px red; */
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}

.results-section > * {
    /* border: solid 1px green; */
    width: 20%;
} 

.score-board-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    /* border: solid 1px red; */
    margin: 2%;
    margin-top: 0;
}

.score-board-column {
    display: flex;
    flex-flow: column;
    
    text-align: center;
}

.score-board-container > * {
    /* border: solid 1px green; */
    flex: 1;
    
}

.score-board-column:first-child {
    border-right: solid 2px black;
}

.player-name {
    font-size: 36px;
    border-bottom: solid black 2px;
}

#player-score, #pc-score {
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: white;    
    
}